* {
  	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

/*  */

/* NAV */

nav{
	overflow: hidden;
}

nav ul{
	list-style-type: none;
}

.menu-right{
	float: right;
	font-size: 20px;
}

.menu-left{
	float: left;
	font-size: 20px;
}

.menu-center{
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 50px;
	padding: 10px;
	text-decoration: none;
	color: black;
}

nav ul li a{
	color: black;
	display: block;
	padding: 10px;
	text-decoration: none;
}

/* Dropdown */

.navbar {
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  background-color: white;
  font-family: Arial;
}

.navbar a {
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; 
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: beige;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Sidebar */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Footer */

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #111;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}

.footer-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  color: #fff;
  text-decoration: none;
}

.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}

.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background-color: #000;
  width: 100vw;
  text-align: center;
  padding: 20px 0;
}

.footer-bottom p{
  font-size: 14px;
  color: #fff;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
